html , body{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
@font-face {
    font-family: YekanBakh-Regular;
    src: url(../fonts/YekanBakh-Regular/YekanBakh-Regular.eot);
    src: url(../fonts/YekanBakh-Regular/YekanBakh-Regular.ttf);
    src: url(../fonts/YekanBakh-Regular/YekanBakh-Regular.woff);
    src: url(../fonts/YekanBakh-Regular/YekanBakh-Regular.woff2);
}
@font-face {
    font-family: YekanBakh-Bold;
    src: url(../fonts/YekanBakh-Bold/YekanBakh-Bold.eot);
    src: url(../fonts/YekanBakh-Bold/YekanBakh-Bold.ttf);
    src: url(../fonts/YekanBakh-Bold/YekanBakh-Bold.woff);
    src: url(../fonts/YekanBakh-Bold/YekanBakh-Bold.woff2);
}
:root{
    --green-1:#5FED2F;
    --green-2:#5eed2f46;
    --green-3:#0E5445;
    --textColor-1:#353132;
    --textColor-2:#F2F3F4;
    --textColor-3:#707070;
    --backColor-1:#D9D9D9;
    --backColor-2:#dffbd5;
}